<style type="text/css">

        body{
            padding:10px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 10px;
            /*background-color: yellow; */
        }

        .form-group{
            padding: 10px;
        }
  /*      
        #first_header{
            background-color: #ffffff;
            margin-top: 10px;
            
            }

        #second_header{
            background-color: #ffffff;
            vertical-align: middle !important;
            float: none !important;
            margin-top: 10px;            
            }
*/
        #center-form{
            vertical-align: middle !important;
            float: none !important;
            margin-bottom: 250px;
                        
            }
           
        .navbar-inner{
            background-color: #212121;
            border: 1px solid;
            /*border-radius: 4px 4px 4px 4px;*/
            min-height: 0px;
            padding-left: 0px;
            padding-right: 20px;
            }
       
        .navbar-collapse{
            background-color: #212121;
            border-color: #212121;
            border: 1px solid;
            border-radius: 4px 4px 4px 4px;
            min-height: 0px;
            padding-left: 0px;
            padding-right: 20px;
            }
            
        .nav ul{
            color: yellow;
            background:transparent;
        }

        .restaurants{
            position:relative;
            overflow:hidden;
        }
        
        .image_holder{
            position:relative;
            
        }
        
        .carousel_inner img{
            float: left;
            width: 200px;
            height: 200px;
            position:relative;
            padding:1px;
            z-index:1
            }

        #restaurants_carousel {
	position: relative;
	/* moves everything one picture width left so that if the first slider button clicked is the right one, there is an image on the left to slide over to the right insteado of a blank space */
	left: -200px;
	list-style-type: none; 
	margin: 0px;
	padding: 0px;
	width:9999px;
            }

        #shopping_carousel {
	position: relative;
	/* moves everything one picture width left so that if the first slider button clicked is the right one, there is an image on the left to slide over to the right insteado of a blank space */
	left: -200px;
	list-style-type: none; 
	margin: 0px;
	padding: 0px;
	width:9999px;
            }

        #movies_carousel {
	position: relative;
	/* moves everything one picture width left so that if the first slider button clicked is the right one, there is an image on the left to slide over to the right insteado of a blank space */
	left: -200px;
	list-style-type: none; 
	margin: 0px;
	padding: 0px;
	width:9999px;
            }

        #games_carousel {
	position: relative;
	/* moves everything one picture width left so that if the first slider button clicked is the right one, there is an image on the left to slide over to the right insteado of a blank space */
	left: -200px;
	list-style-type: none; 
	margin: 0px;
	padding: 0px;
	width:9999px;
            }


        #carousel_inner {
	float: left; 
	width: 1000px; 
	overflow: hidden; 
            }

        .bottom-caption{
            position: absolute;
            background: #000;
            height: 20px;
            width: 200px;
            opacity: .8;
            top: 200px;
            left: 0px;
            margin-left:1px;
            z-index:2
            }
            
        .well{
            position: absolute;
            background: #000;
            height: 20px;
            width: 200px;
            opacity: .8;
            top: 200px;
            left: 0px;
            margin-left:1px;
            z-index:2            
        }

        .top-caption{
            position: absolute;
            background: #000;
            height: 20px;
            width: 200px;
            opacity: .8;
            top: -20px;
            left: 0px;
            margin-left:1px;
            z-index:2
            }

        .shopping{
            position:relative;
            overflow:hidden;
            }
        
        .shopping img{
            float: left;
            width: 200px;
            height: 200px;
            position:relative;
            padding:1px;
            }  

        .games{
            position:relative;
            overflow:hidden;
            }
        
        .games img{
            float: left;
            width: 200px;
            height: 200px;
            position:relative;
            padding:1px;
            }  


        #left_scroll, #right_scroll{  
	float: left;  
	margin-left: 10px;
	margin-right: 10px;
	height: 150px;  
	width: 20px;
            }
        
        .modal-body{
            background-color: white;
            height: 100px;
        }
        

</style>
