<style type="text/css">

        body{
            padding:10px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 10px;
            /*background-color: yellow; */
        }

        .form-group{
            padding: 10px;
        }

        #center-form{
            vertical-align: middle !important;
            float: none !important;
            margin-bottom: 250px;
                        
            }
           
        .navbar-inner{
            background-color: #212121;
            border: 1px solid;
            /*border-radius: 4px 4px 4px 4px;*/
            min-height: 0px;
            padding-left: 0px;
            padding-right: 20px;
            }
       
        .navbar-collapse{
            background-color: #212121;
            border-color: #212121;
            border: 1px solid;
            border-radius: 4px 4px 4px 4px;
            min-height: 0px;
            padding-left: 0px;
            padding-right: 20px;
            }
            
        .nav ul{
            color: yellow;
            background:transparent;
        }

        .restaurants {
            position:relative;
            overflow:hidden;
            }

        .image_holder {
            position:relative;
            overflow: hidden;
            float: left;
            width: 200px;
            height: 200px;
            padding:1px;
            z-index:1;
        }
               
        .carousel_inner img {
            width: 200px;
            height: 200px;
            padding-left:1px;
            padding-right:1px;
            z-index:1;
            }

        .carousel_inner {
            float:left;
            position:relative;
            width: 1000px;
            overflow:hidden;
            }
       
        .bottom-caption{
            position: absolute;
            /*background: #000; - gives a background to the text */
	    text-align: center;
            height: 20px;
            width: 200px;
            opacity: .5;
            top: 200px;
            left: 1px;
            margin-left:1px;
            z-index:2
            }

        .top-caption{
            position: absolute;
            /*background: #000; - gives a background to the text */
	    text-align: center;
            height: 20px;
            width: 200px;
            opacity: .8;
            top: -20px;
            left: 1px;
            margin-left:1px;
            z-index:2
            }

        #restaurants_carousel {
            float: left;
            position: relative;
            /* moves everything one picture width left so that if the first slider button clicked is the right one, there is an image on the left to slide over to the right insteado of a blank space */
            left: -200px;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            width: 9999px;
            }

        #shopping_carousel {
            float: left;
            position: relative;
            /* moves everything one picture width left so that if the first slider button clicked is the right one, there is an image on the left to slide over to the right insteado of a blank space */
            left: -200px;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            width: 9999px;
            }

        #movies_carousel {
            float: left;
            position: relative;
            /* moves everything one picture width left so that if the first slider button clicked is the right one, there is an image on the left to slide over to the right insteado of a blank space */
            left: -200px;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            width: 9999px;
            }

        #games_carousel {
            float: left;
            position: relative;
            /* moves everything one picture width left so that if the first slider button clicked is the right one, there is an image on the left to slide over to the right insteado of a blank space */
            left: -200px;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            width: 9999px;
            }

/*            
        .well{
            position: absolute;
            background: #000;
            height: 20px;
            width: 200px;
            opacity: .8;
            top: 200px;
            left: 0px;
            margin-left:1px;
            z-index:2            
        }
*/

        .shopping{
            position:relative;
            overflow:hidden;
            }
        
        .shopping img{
            float: left;
            width: 200px;
            height: 200px;
            position:relative;
            padding:1px;
            }  

        .left_scroll, .right_scroll{  
	float: left;  
	margin-left: 10px;
	margin-right: 10px;
	height: 150px;  
	width: 20px;
            }

      
        .modal-body{
            background-color: white;
            height: 100px;
        }

	.item_container img{
	    position: relative;
	    float: left;
	    overflow: hidden;
	    width: 200px;
	    height: 200px;
	    }

	.item_container{
	    position: relative;
	    float: left;
	    border: solid 1px;
	    overflow: hidden;
	    width: 200px;
	    height: 350px;
	    margin: 10px;
	    border-radius: 8px;
	    }

	.name_container{
	    background-color: black;
	    position: absolute;
	    top: 200px;
	    left: 0px;
	    width: 200px;
	    height: 50px;
	    text-align: center;
	    }

	.highlight_container{
	    position: absolute;
	    top: 250px;
	    text-align: center;
	    }

	.rating_container{
	    position: absolute;
	    top: 320px;
	    width: 200px;
	    height: 30px;
	    background-color: green;
	}

	.star {
	    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAQAAADI+WwIAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAACXZwQWcAAAALAAAACgCF+qVAAAAAhUlEQVQI103NMQqCABgF4C+Fxg7QHDQ0JkFnaKqlKJBu4Np9hEDoBq2doCYP0B4UBKLYUKZvex+P/+9N/dJ3FXl9S9CopbF9U1pOkAgb3irVanOMlGqldeBoo9CmspMFOFmp/hzLmtuXzvrWvpwJFVJvLLqci8Qmzl8OhzBwcMdD6ilXfwAd9B9f78yTCQAAAABJRU5ErkJggg==);  
	}

	.rating {
	    float: left;
	    width: 15px;
	    height: 20px;
	}
/*        
        #movies_carousel {
	position: relative;
	/* moves everything one picture width left so that if the first slider button clicked is the right one, there is an image on the left to slide over to the right insteado of a blank space */
/*	left: -200px;
	list-style-type: none; 
	margin: 0px;
	padding: 0px;
	width:9999px;
            }

        #games_carousel {
	position: relative;
	/* moves everything one picture width left so that if the first slider button clicked is the right one, there is an image on the left to slide over to the right insteado of a blank space */
/*	left: -200px;
	list-style-type: none; 
	margin: 0px;
	padding: 0px;
	width:1000px;
            }

        .games{
            position:relative;
            overflow:hidden;
            }
        
        .games img{
            float: left;
            width: 200px;
            height: 200px;
            position:relative;
            padding:1px;
            }  

*/
</style>
