{% extends 'story/base_nov16-17.47.html' %}
{% load static %}

<html lang="en">
<head>
    <title>All_details</title>
    
</head>

<body>

    {% block content %}


    {% endblock %}
    
    {% block main_activity %}
    <div class="container">
        <h4 class="left">Restaurants</h4>
        <div class="restaurants">
            <div id='left_scroll'>
		<a href='javascript:slide("left");'><img src="{% static 'images/images/arrow_left.png'%}" /></a>
	    </div>
            <div id="carousel_inner">
            <ul id="restaurants_carousel">
                <li>
                    <div class="image_holder">
                    <img src = "{% static 'images/images/zomato1.jpg'%}" alt="This is an image"/>
                        <div class="caption bottom-caption"><p>Bottom Caption</p></div>
                        <div class="caption top-caption"><p>Top Caption</p></div>
                    </div>
                </li>
                <li>
                    <div class="image_holder">
                    <img src = "{% static 'images/images/zomato2.jpg'%}" alt="This is an image"/>
                        <div class="caption bottom-caption"><p>Bottom Caption</p></div>
                        <div class="caption top-caption"><p>Top Caption</p></div>
                    </div>
                </li>
                <li>
                    <div class="image_holder">
                    <img src = "{% static 'images/images/zomato3.jpg'%}" alt="This is an image"/>
                        <div class="caption bottom-caption"><p>Bottom Caption</p></div>
                        <div class="caption top-caption"><p>Top Caption</p></div>
                    </div>
                </li>
                <li>
                    <div class="image_holder">
                   <img src = "{% static 'images/images/zomato4.jpg'%}" alt="This is an image"/>
                       <div class="caption bottom-caption"><p>Bottom Caption</p></div>
                       <div class="caption top-caption"><p>Top Caption</p></div>
                   </div>
                </li>
                <li>
                    <div class="image_holder">
                   <img src = "{% static 'images/images/zomato5.jpg'%}" alt="This is an image"/>
                       <div class="caption bottom-caption"><p>Bottom Caption</p></div>
                       <div class="caption top-caption"><p>Top Caption</p></div>
                   </div>
                </li>
                <li>
                    <div class="image_holder">
                   <img src = "{% static 'images/images/zomato6.jpg'%}" alt="This is an image"/>
                       <div class="caption bottom-caption"><p>Bottom Caption</p></div>
                       <div class="caption top-caption"><p>Top Caption</p></div>
                   </div>
                </li>

            </ul>
            </div>
            <div id='right_scroll'>
		<a href='javascript:slide("right");'><img src="{% static 'images/images/arrow_right.png'%}" /></a>
	    </div>  
        </div>
    </div>
        
    <div class="container">
        <h4>Shopping</h4>
        
        <div class="shopping">
            <div class="image_holder">
            <img src = "{% static 'images/images/shopping1.jpeg'%}" alt="This is an image"/>
                <div class="caption bottom-caption"><p>Bottom Caption</p></div>
                <div class="caption top-caption"><p>Top Caption</p></div>                
            </div>
        
            <div class="image_holder">
            <img src = "{% static 'images/images/shopping2.jpeg'%}" alt="This is an image"/>
                <div class="caption bottom-caption"><p>Bottom Caption</p></div>
                <div class="caption top-caption"><p>Top Caption</p></div>
            </div>
    
            <div class="image_holder">
            <img src = "{% static 'images/images/shopping3.jpeg'%}" alt="This is an image"/>
                <div class="caption bottom-caption"><p>Bottom Caption</p></div>
                <div class="caption top-caption"><p>Top Caption</p></div>
            </div>
 
             <div class="image_holder">
            <img src = "{% static 'images/images/shopping4.jpeg'%}" alt="This is an image"/>
                <div class="caption bottom-caption"><p>Bottom Caption</p></div>
                <div class="caption top-caption"><p>Top Caption</p></div>                
            </div>

             <div class="image_holder">
            <img src = "{% static 'images/images/shopping5.jpeg'%}" alt="This is an image"/>
                <div class="caption bottom-caption"><p>Bottom Caption</p></div>
                <div class="caption top-caption"><p>Top Caption</p></div>
            </div>
<!-- 
              <div class="image_holder">
            <img src = "{% static 'images/images/shopping6.jpeg'%}" alt="This is an image"/>
                <div class="caption bottom-caption"><p>Bottom Caption</p></div>
                <div class="caption top-caption"><p>Top Caption</p></div>
            </div>
-->
        </div>
    </div>  
 
    {% endblock %}
    

    
</body>