<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5//EN"
    "http://www.w3.org/TR/html5/html5.dtd"
    >
{% extends 'story/base_nov16-17.47.html' %}
{% load static %}

<html lang="en">
<head>
    <title>Home Page</title>
</head>


<body>
            {% block form_content %}
                    <button type="button" class="btn btn-default" value="login" style=margin-top:8px;margin-left:70px data-toggle="modal" href ="#myModal">Login</button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" area-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!--<div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Enter here:</h>
                                </div>-->
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <form class="form-inline text-muted" role="form" action="/auth/" method="post">{% csrf_token %}
                                <div class="form-group">
                                    <label class="sr-only" for="username">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" required=True>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required=True>
                                </div>
                                <button type="submit" class="btn btn-default" value="login" style="margin-left:30px">Login</button>
                                </form>
                            </div>

                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default" value="login" style=margin-top:8px;margin-left:10px data-toggle="modal" href ="#signupModal">Sign Up</button>
                    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" area-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!--<div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Enter here:</h>
                                </div>-->
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <form class="form-inline text-muted" role="form" action="/auth/" method="post">{% csrf_token %}
                                <div class="form-group">
                                    <label class="sr-only" for="username">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" required=True>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required=True>
                                </div>
                                <button type="submit" class="btn btn-default" value="login">Sign Up</button>
                                </form>
                                <a href="{% url "socialauth_begin" 'facebook' %}" style=color:black>Facebook!</a>
                            </div>
                                
                            </div>
                        </div>
                    </div>
                    
            {% endblock %}

{% block content %}

<script type="text/javascript">
$(function() {
  $.vegas('slideshow', {
    delay:5000,
    backgrounds:[
    {src:"{% static 'images/images/img2.jpg' %}", fade:3000 },
    {src:"{% static 'images/images/homepage2.png' %}", fade:3000},
    {src:"{% static 'images/images/homepage94.png' %}", fade:3000},
    {src:"{% static 'images/images/homepage9.png' %}", fade:3000},
  ],
    walk:function(step){
            $('#image'+step).addClass('overlay');
    }
  })('overlay', {
    src:"{% static 'images/css/vegas/overlays/01.png' %}",
    opacity: 0.2,
    fade:3000
  });

});
</script>
<script type="text/javascript">
    $('body').bind('vegaswalk', 
  function(e, bg, step) {
    $('#image'+step+' > *').css({'top':'200', 'left':'200'});
  }
);    
</script>

<div id="image0">
    <h1>Fun.</h1>
    <h2>Don't be bored.</h2>
</div>

<div id="image1">
    <h1>Curated.</h1>
    <h2>Just for you.</h2>
</div>

<div id="image2">
    <h1>Travel.</h1>
    <h2>New Destinations.</h2>
</div>

<div id="image3">
    <h1>Fashion.</h1>
    <h2>New Destinations.</h2>
</div>
<!-- images for maximage
<div id="maximage">        
	<img src="{% static 'images/images/homepage92.png'%}" width="1440" height="500" />
	<img src="{% static 'images/images/homepage9.png'%}" width="1440" height="500" />
	<img src="{% static 'images/images/homepage91.png'%}" width="1440" height="550" />
	<img src="{% static 'images/images/homepage6.png'%}" width="1440" height="550" />
</div>
-->
{% endblock %}    
</body>
</html>