{% extends "story/base_nov16-17.47.html" %}

{% block content %}
    <h4> Register </h4>

    <form class="form" role="form" action="/register/" method="post">{% csrf_token %}
      <div class="form-group">
            <label class="sr-only" for="subscribeemail">Email Address</label>
            <p>Email Address</p>
            {{form.username}}
        </div>
        <div class="form-group">
            <p>Password</p>
          {{form.password1}}
        </div>
        <div class="form-group">
            <p>Re-enter Password</p>
          {{form.password2}}
        </div>
        <button type="submit" class="btn btn-default" value="login" style="margin-left:40px">Sign Up</button>                  
    </form>

    

{% endblock %}

<!--
    <form action="/register/" method="post"> {% csrf_token %}
    {{form}}
    
    <input type="submit" value="Login" />
    
    </form>

-->

<!--    
    <form class="form-inline" role="form" action="/register/" method="post">{% csrf_token %}
        <div class="form-group">
            <label class="sr-only" for="subscribeemail">Email address</label>
            <input type="email" class="form-control" id="username" placeholder="Email Address" name="username" value="">
        </div>
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" name="password" value="">
        </div>
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" name="password" value="">
        </div>
        <button type="submit" class="btn btn-default" value="login">Sign Up</button>                    
    </form>
-->