{% extends 'story/base_nov16-17.47.html' %}
{% load static %}
<html lang="en">
<head>
    <title><!-- Insert your title here --></title>
</head>
<body>
    {% block content %}
    <div class="res_item">
        <div class="item_container">
                <a href="http://www.zomato.com/ncr/dominos-pizza-sector-18-noida">
                    <img src="{% static 'images/images/zomato1.jpg'%}">
                </a>
            <div class="name_container">
                <h5 style=color:white>Restaurant name</h5>
            </div>
            <div class="highlight_container">
                <h5>Highlights of the restaurant.</h5>
            </div>
            <div class="rating_container">
                <p>Ratings for the restaurant.</p>
            </div>
        </div>
    </div>

    <div class="res_item">
            <div class="item_container">
                <a href="http://www.zomato.com/ncr/the-flying-saucer-cafe-nehru-place-delhi">
                    <img src="{% static 'images/images/zomato2.jpg'%}">
                </a>
            <div class="name_container">
                <h5 style=color:white>Restaurant name</h5>
            </div>
            <div class="highlight_container">
                <h5>Highlights of the restaurant.</h5>
            </div>
            <div class="rating_container">
                <p>Ratings for the restaurant.</p>
            </div>
        </div>
    </div>

    <div class="res_item">
        <div class="item_container">
                <a href="http://www.zomato.com/ncr/pirates-of-grill-mg-road-gurgaon">
                    <img src="{% static 'images/images/zomato3.jpg'%}">
                </a>
            <div class="name_container">
                <h5 style=color:white>Restaurant name</h5>
            </div>
            <div class="highlight_container">
                <h5 class="highlight_text">Highlights of the restaurant.</h5>
            </div>
            <div class="rating_container">
                <span>Ratings for the restaurant.</span>
            </div>
        </div>
    </div>

    <div class="res_item">
        <div class="item_container">
                <a href="http://www.zomato.com/ncr/my-bar-lounge-and-restaurant-connaught-place-delhi">
                    <img src="{% static 'images/images/zomato4.jpg'%}">
                </a>
            <div class="name_container">
                <h5 style=color:white>Restaurant name</h5>
            </div>
            <div class="highlight_container">
                <h5>Highlights of the restaurant.</h5>
            </div>
            <div class="rating_container">
                <p>Ratings for the restaurant.</p>
            </div>
        </div>
    </div>

    <div class="res_item">
        <div class="item_container">
                <a href="http://www.zomato.com/ncr/white-waters-connaught-place-delhi">
                    <img src="{% static 'images/images/zomato5.jpg'%}">
                </a>
            <div class="name_container">
                <h5 style=color:white>Restaurant name</h5>
            </div>
            <div class="highlight_container">
                <h5>Highlights of the restaurant.</h5>
            </div>
            <div class="rating_container">
                <p>Ratings for the restaurant.</p>
            </div>
        </div>
    </div>

    <div class="res_item">
        <div class="item_container">
                <a href="http://www.zomato.com/ncr/warehouse-cafe-connaught-place-delhi">   
                    <img src="{% static 'images/images/zomato6.jpg'%}">
                </a>
            <div class="name_container">
                <h5 style=color:white>Restaurant name</h5>
            </div>
            <div class="highlight_container">
                <h5>Highlights of the restaurant.</h5>
            </div>
            <div class="rating_container">
                <p>Ratings for the restaurant.</p>
            </div>
        </div>
    </div>

<!--   
    <div class="y-card"  data-position="" data-row="" data-cluster="" id="Roasted-garlic-mashed-potatoes-315012" data-id="Roasted-garlic-mashed-potatoes-315012" data-collections="">
    <a class="y-image" href="/recipe/Roasted-garlic-mashed-potatoes-315012">
    <img src="http://lh5.ggpht.com/xS3-S_W1aoFLW21S9-wjF5shKkDEfemtjPGvV0JXB6y1JXxiz_SAh_FjpjYkHmOY4tk2KlrglLvYYe-ehyqQaw=s230-c" alt="Roasted Garlic Mashed Potatoes"/>
</a>
    <div class="y-title">
  <span class="btn-wrapper">
    <button class="btn-primary login-yum-click " urlName="Roasted-garlic-mashed-potatoes-315012"><span class="text">Yum</span></button>
      <span class="display-count mini" >
          3.4k
      </span>
  </span>
      <div>
        <a class="y-full" href="/recipe/Roasted-garlic-mashed-potatoes-315012">
          <h3>Roasted Garlic Mashed Potatoes</h3>
        </a>
      </div>
    </div>
  



    <div class="y-ingredients">

  chives, butter, russet potatoes, olive oil, garlic, kosher salt and milk

</div>

    <div class="y-meta">
  
  <span class="y-source tiny"><img height="12" src="http://static.yummly.com/favicon/Steamy-Kitchen:-recipes-and-cooking.2012-12-07.ico" width="12"/><a href="/page/steamy-kitchen">Steamy Kitchen</a>
  
  </span>
  
  <span class="y-rating r-" title="/5">
  <span class="y-icon">&#x31;</span>

  <span class="y-icon">&#x31;</span>

  <span class="y-icon">&#x31;</span>

  <span class="y-icon">&#x31;</span>

  <span class="y-icon">&#x31;</span>


</span>
</div>

    
    
      <div class="aspect-bar">
  
  
  <span class="aspect-icon"><span class="graph y-icon">&#x44;</span></span>
  
  <span class="aspect-text">
  
    <span class="numbers">70</span> recent Yums
  
  </span>
  
</div>
-->

{%endblock%}
</body>
</html>


<!--
.y-card{display:inline-block;margin:10px;position:relative;text-align:left;text-decoration:none;vertical-align:top;width:280px;}
.y-card > a{display:block;}
.y-card > a:hover{text-decoration:none}
.y-card > a.y-image{background-color:#cdcabf;height:280px;width:280px;}
.y-card > a.y-image > div{color:#dbd8ce;height:280px;overflow:hidden;text-transform:uppercase;}
.y-card > a.y-image > div div{font-size:60px;font-weight:bold;left:-10px;line-height:90%;position:relative;top:-10px}
.y-card > a.y-image > img{height:auto;width:100%}
.y-card .y-title{background-color:#383838;padding:10px;}
.y-card .y-title > .btn-wrapper{position:absolute;top:265px}
.y-card .y-title > div{display:block;height:44px;margin-top:10px;overflow:hidden;}
.y-card .y-title > div a{text-decoration:none;}
.y-card .y-title > div a h3{color:#fff;display:inline;position:relative}
.y-card > div{background-color:#fff;padding:10px}
.y-card > div.y-ingredients{color:#6c6c6c;font-size:13px;line-height:18px;height:54px;overflow:hidden;padding-bottom:0;}
.y-card > div.y-ingredients b.more{color:#e16120;cursor:default;font-size:11px;line-height:18px;white-space:nowrap}
.y-card > div.y-meta{max-height:15px;overflow:hidden;}
.y-card > div.y-meta span.y-source{color:#6c6c6c;display:inline-block;font-weight:bold;width:180px;vertical-align:top;overflow:hidden;position:relative;white-space:nowrap;}
.y-card > div.y-meta span.y-source:before{content:'';position:absolute;top:0;right:0;bottom:0;left:auto;width:1em;background-image:-webkit-linear-gradient(right, #fff, rgba(255,255,255,0) 100%);background-image:-moz-linear-gradient(right, #fff, rgba(255,255,255,0) 100%);background-image:-o-linear-gradient(right, #fff, rgba(255,255,255,0) 100%);background-image:-ms-linear-gradient(right, #fff, rgba(255,255,255,0) 100%);background-image:linear-gradient(to left, #fff, rgba(255,255,255,0) 100%)}
.y-card > div.y-meta span.y-source img{margin-right:4px;vertical-align:text-top}
.y-card > div.y-meta span.y-rating{float:right;font-size:11px;line-height:15px}
.y-card > div.not-interested-bar,.y-card > div.aspect-bar{height:20px;overflow:hidden;background-color:#f8f8f8;font-size:11px;border-top:1px solid #eee;padding:5px 10px;text-align:right;}
.y-card > div.not-interested-bar .delete-icon,.y-card > div.aspect-bar .delete-icon{margin-right:5px;line-height:11px}
.y-card > div.not-interested-bar .display-text,.y-card > div.aspect-bar .display-text{vertical-align:top}
.y-card > div.aspect-bar{text-align:left;color:#6c6c6c;}
.y-card > div.aspect-bar .aspect-icon{vertical-align:middle}
.y-card > div.aspect-bar .numbers{font-weight:bold}
.y-card .sponsored{background-color:#000;background-color:rgba(0,0,0,0.5);color:#fff;font-size:11px;line-height:18px;padding:1px 10px;position:absolute;left:0;top:0}
.y-card-short > div{padding:5px 10px 4px}
@media only screen and (min-width: 481px){.y-card{width:230px;}
.y-card > a.y-image{height:230px;width:230px;}
.y-card > a.y-image > div{color:#dbd8ce;height:230px;overflow:hidden;text-transform:uppercase;}
.y-card > a.y-image > div div{font-size:60px;font-weight:bold;left:-10px;line-height:90%;position:relative;top:-10px}
.y-card > div.y-title .btn-wrapper{top:215px}
.y-card > div.y-title >div{height:66px}
.y-card > div.y-meta span.y-source{width:130px}
}.popup-card{display:inline-block;max-width:230px;}
.popup-card .title{border-bottom:1px solid #eee;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:-10px -10px 10px;padding:10px}
.popup-card .y-ingredients{color:#aaa;margin-bottom:10px}
.popup-card span.y-source{color:#6c6c6c;display:inline-block;font-weight:bold;width:130px;vertical-align:top;overflow:hidden;position:relative;white-space:nowrap;}
.popup-card span.y-source:before{content:'';position:absolute;top:0;right:0;bottom:0;left:auto;width:1em;background-image:-webkit-linear-gradient(right, #fff, rgba(255,255,255,0) 100%);background-image:-moz-linear-gradient(right, #fff, rgba(255,255,255,0) 100%);background-image:-o-linear-gradient(right, #fff, rgba(255,255,255,0) 100%);background-image:-ms-linear-gradient(right, #fff, rgba(255,255,255,0) 100%);background-image:linear-gradient(to left, #fff, rgba(255,255,255,0) 100%)}
.popup-card span.y-source img{margin-right:4px;vertical-align:text-top}
.y-card.ad{background:#fff;height:456px;}
.y-card.ad .y-heading{background:#383838;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;font-size:18px;height:40px;line-height:40px;margin-bottom:0;padding:0 10px}
.y-card.ad .suggestion{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#6c6c6c;max-height:140px;padding:25px 10px;}
.y-card.ad .suggestion + .suggestion{border-top:1px solid #eee}
.y-card.ad .suggestion .image,.y-card.ad .suggestion .meta{display:inline-block;vertical-align:top}
.y-card.ad .suggestion .image{background-color:#cdcabf;height:70px;margin-right:10px;overflow:hidden;width:70px;}
.y-card.ad .suggestion .image img{width:100%;height:auto;vertical-align:top}
.y-card.ad .suggestion .meta{max-height:90px;overflow:hidden;width:180px;}
.y-card.ad .suggestion .meta h4{color:#e16120;font-weight:bold;margin-bottom:0}
.y-card.ad .suggestion .meta h4,.y-card.ad .suggestion .meta p{font-size:11px;line-height:15px}
-->